    <% content_for :titulo do %>
  <h4>
  	<strong>
  		Home <i class="glyphicon glyphicon-home"></i>
  	</strong>
  </h4>
<% end %>

<div class="alert alert-info alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  Olá, <strong><%= current_user.name.split.first %></strong> seu ultimo login foi em <strong><%= current_user.last_sign_in_at.strftime("%d/%m/%Y, às %H:%M") %></strong>.
</div>


<%= render "bar_chart" %>