<% content_for :titulo do %>
  <h4>
  	<strong>
  		Não Autorizado <i class="glyphicon glyphicon-ban-circle"></i>
  	</strong>
  </h4> 
<% end %>
<p id="notice"><%= notice %></p>

<div class="col-md-12">
	<br/><br/><br/><br/><br/>
	<p class="text-center">
		<span class="text-danger" style="font-size:4em;">Oops!</span>
	</p>
	<p class="text-center">
		<span class="text-danger" style="font-size:2em;">Você não tem permissão para acessar esta area!</span>
	</p>

</div>
