<ul class="list-unstyled">
  <li class="nav-header"> <a href="#" data-toggle="collapse" data-target="#userMenu">
    <h5><i class="glyphicon glyphicon-menu-hamburger"></i> Menu </h5>
    </a>
      <ul class="list-unstyled collapse in" id="userMenu">
      		<li> <a href="/"><i class="glyphicon glyphicon-home"></i> Home</a></li>
          <li> <a href="/usuarios"><i class="glyphicon glyphicon-user"></i> Usuários</a></li>
          <li> <a href="/pessoas"><i class="glyphicon glyphicon-user"></i> Pessoas</a></li>
          <li> <a href="/escolas"><i class="glyphicon glyphicon-home"></i> Escolas</a></li>
          <li> <a href="/ocorrencias"><i class="glyphicon glyphicon-bullhorn"></i> Ocorrências</a></li>
          <li> <a href="/encaminhamentos"><i class="glyphicon glyphicon-file"></i> Encaminhamentos</a></li>
          <li> <a href="/tipo_ocorrencias"><i class="glyphicon glyphicon-ok"></i> Tipo Ocorrências</a></li>
          <li> <a href="/tipo_agressores"><i class="glyphicon glyphicon-ok"></i> Tipo Agressores</a></li>
          <li> <a href="/desdobramentos"><i class="glyphicon glyphicon-ok"></i> Desdobramentos</a></li>
          <li> <a href="/tipo_desdobramentos"><i class="glyphicon glyphicon-ok"></i> Tipo Desdobramentos</a></li>
          
      
      </ul>
  </li>
  
</ul>
