<%= render 'layouts/nav_nao_logado' %>
<%= yield %>
<footer class="text-center"><a href="http://siave.seed.ap.gov.br"> Sistema de Informação de Agressão e Violencia nas Escolas no Estado do Amapá - <strong>SIAVE/AP <br/> SEED/<%= DateTime.now.year %></strong></a></footer>